.aboutimg{
    height: 774px;
}
.card:hover
{
    background-color: #1eb2a6;
    transition: 0.5s;
    color: white;
}

.desc{
  color: rgb(150, 149, 149);
}
.card.desc:hover{
  color: rgb(242, 238, 238);

}
.title{
  font-weight: 800;

}
/* =======awraper section====== */

.awrapper{

  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)) ,url("../images/awrapper.webp");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
/* background-image: url("images"); */
}