.heading{
    /* margin-top: 40px; */
    margin-left: 0px;
    font-weight: 900;
    
  }
  .rowheading{
    margin-top: 80px;
  }
  .subtitle{
    color:#1eb2a6 ;
  }
  .title{
    font-weight: 1000;
  }
  @media screen and (max-width: 768px){
       .subtitle{
        font-size: 20px;
        margin-left: 0%;
       }

  
  }
